/* Start of Filter list*/
.filter{
    margin-bottom: 100px;
    margin-left: 50px;
}
.card{
    width: 18rem;
}

.filter .btn{
    margin-right: 50px;
    text-transform: uppercase;
    color:white
}
.filter .btn-comedy{background-color: #20655f;}
.filter .btn-drama{background-color: #a72461;}
.filter .btnHover:hover{
    color:white;
    transform: scale(1.1);
    -webkit-transition: all .4s ease-in-out; 
    -moz-transition: all .4s ease-in-out; 
    -o-transition: all .4s ease-in-out; 
    transition: all .4s ease-in-out;
}
.filter-tag{
    color: white;
    margin-bottom: 50px;
    margin-left: 40px;
    font-size: 25px;
    text-transform: uppercase;
}
/* End of Filter list*/

/*Start of item*/
.item{
   /*margin-left: 70px;*/
    margin-bottom: 50px;
}
.item .rate {
    background-color: chartreuse;
    padding: 5px;
}
/*End of item*/

/*Start of Responsive*/
@media (max-width: 767.98px) { 
    .btn{
        margin-bottom: 10px;
    }
}
@media (max-width: 575.98px) { 
    .card{
        width: 22rem;
    }
}
/*End of Responsive*/